body {
  background: #368bc1;
  background-image: url(bg-img.png);
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 100vh;
}

/* hide login welcome message via fadeout */
.bg-success {
  animation: bg-success 5s 1;
  -webkit-animation: bg-success 5s 1;
  animation-fill-mode: forwards;

  animation-delay: 5s;
  -webkit-animation-delay: 1s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}

/* define fadeout animation for success button */
@keyframes bg-success {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes bg-success {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
