{% extends "base.html" %}

{% block content %}
{% set background_url = url_for('static', filename='jumbotron.png') %}

<style>
  .jumbotron-fluid {
    background-image: url({{ background_url }});
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .container {
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;

  }
  .content-card {
    background-color: #303030;
    padding: 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color:whitesmoke
  }
</style>
<div class="jumbotron jumbotron-fluid">
</div>
<div class="container">
  <div class="content-card">
    <h1 class="mb-3 text-center">Sign up and Get Started</h1>
    <h4 class="mb-3 text-center">Unlock the Emotions Behind Reddit Posts</h4>

    <p>Join the conversation on Reddit with confidence. Our sentiment analyzer offers powerful insights into the emotions behind post titles, so you can engage with the community in a more meaningful way. Whether you're tracking trends or exploring new topics, our tool offers accurate and real-time analysis of the sentiment on Reddit.</p>

    <div class="text-center">
      <a class="btn btn-outline-primary btn-lg" href="{{ url_for('auth.signup') }}" role="button">Sign up!</a>
    </div>
  </div>
</div>
{% endblock %}