{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1>Comments</h1>
  <div class="container col-lg-12">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Negative</h2>
        <ul class="list-group">
          {% if data %}
          {% for item in data %}
          {% if item['comment'] != "[deleted]" and item['prediction']|float < 0.5 %}
          <li class="list-group-item list-group-item-danger">
            <div class="d-flex flex-column w-100">
              <div>
                {{ item['comment'] }} {{ item['prediction'] }} <i class="fas fa-frown ml-2"></i>
              </div>
              <div class="d-flex align-items-center">
                <span>Rate this sentiment analysis:</span>
                <i class="fa-solid fa-thumbs-up custom-thumb-up ml-2" onclick="handleThumbsUp(event, this)"></i>
                <i class="fa-solid fa-thumbs-down custom-thumb-down ml-2" onclick="handleThumbsDown(event, this)"></i>
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
          {% else %}
          <li class="list-group-item">No comments found</li>
          {% endif %}
        </ul>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">Positive</h2>
        <ul class="list-group">
          {% if data %}
          {% for item in data %}
          {% if item['comment'] != "[deleted]" and item['prediction']|float >= 0.5 %}
          <li class="list-group-item list-group-item-success">
            <div class="d-flex flex-column w-100">
              <div>
                {{ item['comment'] }} {{ item['prediction'] }} <i class="fas fa-grin ml-2"></i>
              </div>
              <div class="d-flex align-items-center">
                <span>Rate this sentiment analysis:</span>
                <i class="fa-solid fa-thumbs-up custom-thumb-up ml-2" onclick="handleThumbsUp(event, this)"></i>
                <i class="fa-solid fa-thumbs-down custom-thumb-down ml-2" onclick="handleThumbsDown(event, this)"></i>
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
          {% else %}
          <li class="list-group-item">No comments found</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
<style>
  .container {
    padding-top: 20px;
  }
  .fa-solid.fa-thumbs-up, .fa-solid.fa-thumbs-down {
    cursor: pointer;
  }

  .custom-thumb-up {
    margin-left: 10px;
  }

  .custom-thumb-down {
    margin-left: 10px;
  }
</style>
<script>
  function handleThumbsUp(event, element) {
    alert("Thumbs up clicked");
  }

  function handleThumbsDown(event, element) {
    alert("Thumbs down clicked");
  }
</script>
{% endblock %}
