{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="form-group col-sm-12 col-md-10 col-lg-8 mx-auto mb-3">
      <div class="search-image mt-3 text-center">
        <img src="../static/reddit_logo_1.png" style="max-width: 150px; max-height: 150px;">
      </div>
    </div>
    <h1 class="text-center">User Comments</h1>
    {% if data %}
    <hr>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Comment</th>
                  <th scope="col">Timestamp</th>
                </tr>
              </thead>
              <tbody>
                {% for item in data %}
                {% if "![gif]" not in item.comment %}
                <tr>
                  <td>{{ item.comment }}</td>
                  <td>{{ item.timestamp }}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center mt-5">
    <button class="btn btn-primary" type="button" onclick="download(event, this, '{{query}}');">Download</button>
  </div>  
  {% else %}
  <p> No results found, please try another Reddit username. </p>
  {% endif %}
  <style>
    .card {
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  </style>
  <script>
    function downloadFile(data, filename, type) {
      const file = new Blob([data], {type: type});
      const a = document.createElement('a');
      a.href = URL.createObjectURL(file);
      a.download = filename;
      a.click();
    }
    
    function download(event, element, query) {
      const payload = {
        'query': query
      };
      fetch('/download-inference', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      })
      .then(response => {
        if (response.ok) {
          response.text().then(data => {
            downloadFile(data, 'inference.json', 'application/json');
          });
        } else {
          console.error('Error downloading file:', response.status);
        }
      })
      .catch(error => {
        console.error('Error downloading file:', error);
      });
    }
  </script>
{% endblock %}